.comment {
  max-width: 50%;
  margin-top: 10px;
  background-color: white;
  border-radius: 5px;
}

.comment-section-lower {
  border-top: 2px solid lightgray;
}

.profile-picture {
  padding: 5px;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.text-box {
  padding: 5px;
  border: none;
  outline: none;
}